@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
<div id=Header>
  <h1 id= HeaderText><img src='/img/logo.png' width="70px" /> Welcome to Eau Claire's Salon <img src='/img/logo.png' width="70px" /> </h1>
</div>
<div id=Nav>
  <p>@Html.ActionLink("Show all Stylists", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <img src='/img/logo.png' width="70px" />
</div>

<div id=StylistList>
<h2>Are you sure you want to delete this Stylist?</h2>

<p>Stylist: @Html.DisplayFor(model =>model.StylistName)</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
</div>
@Html.ActionLink("Back to List", "Index")
@Html.ActionLink("Home", "Index", "Home")