@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<div id=Header>
  <h1 id= HeaderText>Eau Claire's Salon</h1>
</div>
<div id=Nav>
  <p>@Html.ActionLink("Show all Stylists", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
<div id=details>
  <h2 id=HeaderText>Sylist Details</h2>
  <hr />
    <h3 id= HeaderText>@Html.DisplayFor(model => model.StylistName)</h3>
    <h3 id=Clients>Clients</h3>
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
  <hr />
<p>@Html.ActionLink("Edit Stylist", "Edit",  new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>

</div>
