@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist;

<h2>Sylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>