@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h2>Edit</h2>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.StylistName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  
  @Html.LabelFor(model => model.StylistName)
  @Html.EditorFor(model => model.StylistName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>