@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;
<div id=Header>
  <h1 id= HeaderText><img src='/img/logo.png' width="70px" /> Welcome to Eau Claire's Salon <img src='/img/logo.png' width="70px" /> </h1>
</div>

<div id=Nav>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Show all Clients", "Index")</p>
  <p>@Html.ActionLink("Show all Stylists", "Index", "Stylists")</p>
  <img src='/img/logo.png' width="70px" />
</div>

<div id=Form>
<h4>Add a new Client</h4>
@using (Html.BeginForm())
{
  <p>Client Name: @Html.TextBoxFor(model => model.ClientName)</p>
  <p>Client Phone Number: @Html.TextBoxFor(model => model.ClientPhone)</p>
  <p>Sylist: @Html.DropDownList("StylistId")</p>

  <input type="submit" value="Add new Client" />
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>
<p>@Html.ActionLink("Show all Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>