@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client 

<div id=Header>
  <h1 id= HeaderText><img src='/img/logo.png' width="70px" /> Welcome to Eau Claire's Salon <img src='/img/logo.png' width="70px" /> </h1>
</div>

<div id=Nav>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Add a new Client", "Create")</p>
  
  <img src='/img/logo.png' width="70px" />
</div>

<div id =Edit>
<h2>Edit</h2>

<h4>Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

 <p>Name:  @Html.EditorFor(model => model.ClientName)</p>
 <p>Phone Number: @Html.EditorFor(model => model.ClientPhone)</p>

 <p>Stylist:</p>
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}
</div>